/* Mobile Navbar Styling */
@media screen and (max-width: 800px) {
    .navbar-toggler {
        float: right;
        margin-top: 0.5em;
    }

    .navbar-collapse {
        float: none !important;
        text-align: center;
    }

    .desktop-only {
        display: none;
    }
}

/* Navbar Styling */

.navbar {
    width: 100%;
    overflow: hidden;
}

.navbar .navbar-container {
    width: 83.33%;
    margin: 0 auto 0 auto;
}

.navbar-collapse {
    float: right;
    padding: 0.5em 0 0.5em 0;
}

.navbar-collapse .nav-item {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

/* Styling problems.html */

.problems-body {
    height: calc(100vh - 76px);
    margin: 76px auto 0 auto;
}

.problems {
    padding: 20px;
    width: 60%;
    height: calc(100vh - 76px);
}

.btn {
    width: 99%;
}

.col {
    padding: 0;
}


/* Styling the coding area */

.coding-body {
    height: calc(100vh - 76px);
    margin: 76px 0 0 0;
    width: 100vw;
}

.coding-body .col {
    height: calc(0.4 * (100vh - 76px));
    outline: 1px solid black;
}

.coding-body .col textarea {
    width: 100%;
    height: 100%;
    resize: none;
    overflow-y: scroll;
}

.coding-body input[type="submit"]:hover {
    background-color: green;
}
