{% extends 'generic_page.html' %}
{% block content %}
    <div class="container-fluid coding-body">
        <div class="row">
            <div class="col">
                <p>{{ prompt }}</p>
            </div>
            <div class="col">
                <textarea></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col"></div>
        </div>
        <button class="btn btn-primary">Submit</button>
    </div>
{% endblock %}